body {
    background-color: #121212;
    color: #ffffff;
    min-height: 100vh;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.uniformtext {
    color: #ffffff;
}

.uniformtextdet {
    color: #ffffff;
    font-size: 2rem;
}

h1,
h2,
h3 {
    color: #ffffff;
}

.title {
    color: #ffffff;
}

p {
    font-size: 12px;
}

.searchbar {
    width: 100%;
    max-width: 300px;
    display: inline-flex;
    margin-top: 7px;
}

.searchbar--max-width {
    max-width: 100%;
}

.searchbar__input {
    flex-grow: 1;
    padding: 10px;
    outline: none;
    border: 1px solid #4e94ca;
    border-radius: 5px 0 0 5px;
    background-color: #F4FAF9;
    transition: background-color 0.25s, box-shadow 0.25s;
}

.searchbar__input:focus {
    background-color: white;
    box-shadow: 0 0 2px #8CC6BA;
}

.searchbar__input::placeholder {
    color: #97b4c9;
}

.searchbar__button {
    width: 40px;
    background-color: #3b97dd;
    /* background-color: #4e94ca; */
    color: #ffffff;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    user-select: none;
}

.searchbar__button:active {
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.25);
}

/* .sublibcontainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
} */

.singlesublibcontainer {
    display: flex;
    flex-flow: row;
    justify-content:center;
    align-items: center;
    text-align: center;
}

.detail__title {
    min-width: 15vw;
    max-width: 15vw;
    text-align: center;
}

.detail__cover_art {
    min-width: 15vw;
    max-width: 15vw;
    text-align: center;

}

.sublibimg {
    /* border: solid #1c5784 3px; */
    border-radius: 7px;
    min-width: 10vw;
    max-width: 10vw;
    box-shadow: rgba(0, 0, 0, 0.44) 0px 10px 20px, rgba(0, 0, 0, 0.48) 0px 6px 6px;
}

.searchimg {
    /* border: solid #1c5784 3px; */
    border-radius: 7px;
    min-width: 25vw;
    max-width: 25vw;
    box-shadow: rgba(0, 0, 0, 0.44) 0px 10px 20px, rgba(0, 0, 0, 0.48) 0px 6px 6px;
}

.detail__add_to_list {
    text-align: center;
    min-width: 15vw;
    max-width: 15vw;
}

.detail__release_date {
    text-align: center;
    min-width: 15vw;
    max-width: 15vw;
}

.detail__rating {
    text-align: center;
    min-width: 15vw;
    max-width: 15vw;
}

.detail__editdelete {
    text-align: center;
    min-width: 15vw;
    max-width: 15vw;
}

.titleee {
    font-size: 1.5em;
    color: #78bdf2;
    margin-top: 20px;
}

.titlee {
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

.searchtitle {
    color: #78bdf2;
    font-size:larger;
}

.line {
    color: #ffffff
}

.button {
    margin-top: 18px;
}

.editdelete {
    color: #ffffff;
    font-size: 2em !important;
    text-align: center;
    justify-content: center;
}

.singlesublibcontainer>a {
    display: contents;
}

.logout {
    margin-left: 10px;
}

.addbox {
    align-items: center;
    text-align: center;
}

.check {
    font-size: 1em !important;
    color: green;
}

.thumb {
    margin-right: 3px;
}

.controller {
    margin-right: 3px;
}

.happy {
    margin-right: 3px;
}

.wanna {
    margin-right: 3px;
}

.person {
    margin-left: 3px;
}

.field {
    max-width: 50%;
    align-items: center;
    text-align: center;
    margin: auto;
}

.logg {
    text-align: center;
    font-size: 40px;
    margin-bottom: 15px;
}

.logbox {
    border: solid #3b97dd 3px;
    border-radius: 15px;
    margin: 0px auto 0px auto;
    padding: 30px 0px 0px 0px;
    max-width: 50vw;
    background-color: #3b97dd16;
    box-shadow: rgba(0, 0, 0, 0.44) 0px 10px 20px, rgba(0, 0, 0, 0.48) 0px 6px 6px;
}
.logmessage {
    text-align: center;
}
.updateeee {
    text-align: center;
    font-size: 40px;
}

.updatetextt {
    margin-left: 20px;
}

.editsubmit {
    padding: 0px 15px 0px 15px !important;
}