{% extends 'base.html' %}

{% block title %}
Login Page
{% endblock %}

{% block content %}
<br/>
<br/>
<br/>
<br/>
<div class='contain'>
    <div class='logbox'>
            <h1 class="searchtitle logg">Login</h1>
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="field">
                    <p class="control has-icons-left has-icons-right">
                        <input class="input" type="text" placeholder="Username" name="username">
                        <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                        </span>
                    </p>
                </div>
                <div class="field">
                    <p class="control has-icons-left">
                        <input class="input" type="password" placeholder="Password" name="password">
                        <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                        </span>
                    </p>
                </div>
                <div class="field">
                    <p class="control">
                        <button class="button is-info">
                        Login
                        </button>
                    </p>
                </div>
            </form>
            <br/>
            <h2 class='logmessage'>Don't have an account? <a href="{% url 'signup' %}">Sign Up</h2>
            <br/>
            <br/>
    </div>
</div>
{% endblock %}