{% extends 'base.html' %}

{% block title %}
{{game.title}} {{game.release_date}}
{% endblock %}

{% block content %}
<br/>
<div class="detail__cover_art">
    <img class="searchimg" src="{{game.cover_art}}" alt="{{game.name}}" />
</div>
<div class="uniformtext">
    <strong class='searchtitle'>{{game.title}}</strong>
</div>
<div class="uniformtext">
    Rating: {{game.rating}}
</div>
<div class="uniformtext">
    Release Date: {{game.release_date}}
</div>
<div class="uniformtext">
    Platform: {{game.platform}}
</div>
<div class="uniformtext">
    Developer: {{game.developer}}
</div>
<div class="uniformtext">
    Genre: {{game.genre}}
</div>
<div class="uniformtext">
    Status: {{game.add_to_list}}
</div>
<hr/>
<div class="uniformtext">
    Description:<br/>
    {{game.description|striptags}}
</div>
{% endblock %}