{% extends 'base.html' %}

{% block title %}
Update {{game.title}} Page
{% endblock %}

{% block content %}
<br/>
<br/>
<br/>
<br/>
<div class='contain'>
    <div class='logbox'>
        <h1 class='updateeee'>Update <br/><strong class='searchtitle logg'>{{game.title}}</strong></h1>
        <form action="" method="post">
            {% csrf_token %}
            <br/>
            <h2 class='updatetextt'>
            {{form.as_p}} 
            <input class="button is-info editsubmit" type="submit" value="Submit" />
            </h2>
        </form>
        <br/>
        <br/>
    </div>
</div>
{% endblock %}