{% extends 'base.html' %}

{% block title %}
Search Page
{% endblock %}

{% block content %}

<h2>Search Game</h2>
    <form action='' method='get'>
        <input type='text' name='gametitle' placeholder='Game Title'>
        <button type='submit' value='Search'>Search</button>
    </form>
    <hr>

    {% for i in results %}
        <img src='{{ i.background_image }}' alt='cover art' height=200px width=200px>
        <div>{{ i.name }}</div>
        <div>Rating: {{ i.metacritic }}</div>
        <div>Released on {{ i.released }}</div>
        {% for j in i.platforms %}
            {% include 'comma.html' %}{{ j.platform.name }}
        {% endfor %}
        <form action='/games/details' method='get'>
            <input type='text' name='' value='{{ i.slug }}'>
            <button type='submit' value='Details'>Details</button>
        </form>
        <hr>
    {% endfor %}
{% endblock %}