{% extends 'base.html' %}

{% block title %}
Want To Play
{% endblock %}

{% block content %}
    <div class='sublibcontainer'>
        <div class='singlesublibcontainer'>
            <div class='detail__title'>
                <h1 class='titleee'>Title</h1>
            </div>
            <div class='detail__cover_art'>
                <h1 class='titleee'>Art</h1>
            </div>
            <div class='detail__add_to_list'>
                <h1 class='titleee'>Status</h1>
            </div>
            <div class='detail__release_date'>
                <h1 class='titleee'>Release Date</h1>
            </div>
            <div class='detail__rating'>
                <h1 class='titleee'>Rating</h1>
            </div>
            <div class='detail__editdelete'>
                <h1 class='titleee'>Edit/Delete</h1>
            </div>
        </div>
            <hr style=height:1px;border:none;margin-left:-20vw;margin-right:-20vw;border-color:#4e94ca>
        {% for game in games %}
        <a href="{% url 'game_detail' game.pk %}">
            <div class='singlesublibcontainer'>
                <div class="detail__title">
                    <h1 class="titlee">{{game.title}}</h1>
                </div>
                <div class="detail__cover_art">
                    <img class='sublibimg' src="{{game.cover_art}}" alt="{{game.name}}" />
                </div>
                <div class="detail__add_to_list">
                    <h1 class="add_to_list">{{game.add_to_list}}</h1>
                </div>
                <div class="detail__release_date">
                    <h1 class="release_date">{{game.release_date}}</h1>
                </div>
                <div class="detail__rating">
                    <h1 class="rating">{{game.rating}}</h1>
                </div>
                <div class='detail__editdelete'>
                    <a class='io'href="{% url 'game_update' game.pk %}">
                        <i class="material-icons editdelete">edit_note</i>
                    </a>
                    <a href="{% url 'game_delete' game.pk %}">
                        <i class="material-icons editdelete">delete</i>
                    </a>
                </div>
            </div>
        </a>
                <hr style=height:1px;border:none;margin-left:-20vw;margin-right:-20vw;border-color:#4e94ca>
        {% endfor %}
    </div>
{% endblock %}